*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(24, 24, 24);
  color: hsl(0, 0%, 95%);
  font-family: "Open Sans", sans-serif;
  position: relative;
}
