*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #181818;
  color: hsl(0, 0%, 95%);
  font-family: "Open Sans", sans-serif;
  position: relative;
  overflow-x: hidden;
  width: 100vw;
}
