@use "variables" as *;
.preloaderContainer {
  height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: auto;
  width: 42dvw;

  position: absolute;

  left: 50%;
  transform: translate(-50%, 0);
  //background-color: rgb(37, 37, 37);
}

.matchMeta {
  padding: 2em 1.4em;
  line-height: 1.8em;
  font-size: 0.9em;
  color: hsl(0, 0%, 80%);
  span {
    color: $cricLiveRed;
  }
}

@media screen and (max-width: 900px) {
  .container {
    width: 90dvw;
  }
}
