.menuContainer {
  height: 4em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(50, 50, 50);
  text-transform: uppercase;
  font-size: 0.8em;
  border-top: hsl(0, 0%, 30%) solid 2px;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 1em;
  overflow: hidden;
}

.menuItem {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: rgb(20, 20, 20);
  }
  &.active {
    position: relative;
    &::after {
      position: absolute;
      content: " ";
      width: 100%;
      height: 2px;
      bottom: 0;
      background-color: #ce483a;
    }
  }

  &.hide {
    display: none;
  }
}
