@use "variables" as *;
.inningsSelector {
  width: 100%;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  font-size: 0.8em;
  border-radius: 1em 1em 0 0;
  overflow: hidden;
  border-top: 1px solid hsl(0, 0%, 30%);
}

.inningsItem {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  color: #a8a8a8;
  &:hover {
    background-color: rgb(20, 20, 20);
  }
  &.active {
    background-color: rgb(0, 0, 0);
    color: white;
    position: relative;

    &::after {
      position: absolute;
      content: " ";
      width: 100%;
      height: 2px;
      bottom: 0;
      background-color: #a8a8a8;
    }
  }
}

.scorecardContainer {
  padding: 1em 1.3em;

  background-color: $bg-color;
  width: 100%;
  border-radius: 0 0 1em 1em;

  @include boxGradient;

  .yetToBat {
    font-size: 0.9em;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    tr {
      border-bottom: 1px solid #3c4043;
    }

    th {
      font-size: 0.85em;
      font-weight: 200;
      padding: 1em 0;
      color: hsl(0, 0%, 70%);
    }
    .tableTopic {
      width: 60%;
      text-align: left;
    }

    td {
      text-align: center;
      padding: 0.6em 0;
      font-size: 0.9em;
      .batsmanName {
        text-align: left;
      }
      &.alignLeft {
        text-align: left;
      }
      .howOut {
        font-size: 0.8em;
        color: hsl(0, 0%, 70%);
        text-align: left;
      }
    }
  }
}

ul {
  li {
    display: inline-block;
    margin-right: 1em;
    margin-top: 0.4em;
    color: hsl(0, 0%, 80%);
  }
}

.teamLineUp {
  font-size: 0.9em;
  color: hsl(0, 0%, 90%);
  margin-bottom: 1em;
}

.playerInfo {
  margin: 0.7em 0;
  .playerName {
    font-size: 0.9em;

    span {
      color: hsl(0, 0%, 70%);
    }
  }
  .playerType {
    font-size: 0.8em;
    color: hsl(0, 0%, 70%);
  }
}
